{% extends 'base.html' %}

{% block title %}My Bookings - Airline System App{% endblock %}

{% block content %}
<h1>My Bookings</h1>

{% if bookings %}
    <ul class="list-group mb-4">
        {% for booking in bookings %}
        <li class="list-group-item">
            <p><strong>Flight:</strong> {{ booking.flight.origin }} → {{ booking.flight.destination }}</p>
            <p><strong>Duration:</strong> {{ booking.flight.duration }} minutes</p>
            <p><strong>Booking Code:</strong> {{ booking.booking_code }}</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="alert alert-info">You don’t have any bookings yet.</div>
{% endif %}
{% endblock %}